.Home-Main {
  width: 100%;
  display: flex;
  justify-content: center;
  /* gap: 1rem; */
  background-color: #f9f9f9;
  height: 100vh;
}

.Home-Main-Sidebar {
  width: 20%;
}

.Home-Main-Header-Banner {
  width: 80%;
  height: 100vh;
  overflow-y: auto;
}
